@{
    ViewBag.Title = "About";
}



<div class="breadcumb-wrapper " data-bg-src="/Content/assets/AYUSIMG/4.PNG">
    <div class="container">
        <div class="breadcumb-content mt-3">
            <h3 class="breadcumb-title">About Us</h3>
            <ul class="breadcumb-menu">
                <li><a href="/">Home</a></li>
                <li>About Us</li>
            </ul>
        </div>
    </div>
</div>


<!--==============================
About Area
==============================-->
<div class="container mt-4 ">
    <div class="about-section " id="about-sec">

        <div class="row">
            <div class="col-xl-7 col-xxl-6">
                <div class="title-area mb-45">
                    <span class="hotel-card_subtitle">ABOUT US</span>
                    <h4 class="css_heading">WELCOME TO BUDGETS HOTELS IN DELHI</h4>
                    <p class="mt-n2 content-justify ">
                        Looking for a budget hotel?
                        For those on a budget, these cheap and cheerful hotels still have a lot to offer, with most offering WiFi and convenient locations.
                        Popular with backpackers, many properties can be found in central locations and include comfortable
                        rooms with private or shared bathrooms.
                    </p>
                </div>
                <div class="about-wrapp">
                    <div class="about-content-1">
                        <div class="about-icon">
                            <img src="/Content/assets/img/shape/save-doller.svg">
                        </div>
                        <div class="about-text-wrapper">
                            <h2 class="about-title">Best Rate Guarantee</h2>
                            <p class="about-text">Dynamically facilitate best of breed benefits without.</p>
                        </div>
                    </div>
                    <div class="about-content-1">
                        <div class="about-icon">
                            <img src="/Content/assets/img/shape/save-money.svg">
                        </div>
                        <div class="about-text-wrapper">
                            <h2 class="about-title">No Booking Fee</h2>
                            <p class="about-text">Dynamically facilitate best of breed benefits.</p>
                        </div>
                    </div>
                </div>
                <div class="btn-group style1 mt-25">

                </div>
            </div>
            <div class="col-xl-5 col-xxl-6">
                <div class="img-box1">
                    <div class="img1">
                        <img class="image_1" src="~/Content/assets/img/normal/about_2.png" alt="About">

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--==============================
choose Area
==============================-->
<div class="container">
    <div class="bg-top-center space-bottom choose-area">

        <div class="row align-items-center justify-content-center">
            <div class="col-xl-7">
                <div class="title-area mt-n1 mr-80">
                    <span class="hotel-card_subtitle">Why Choose Us</span>
                    <h4 class="css_heading">We Are Always Ready to Take Challenge</h4>
                    <p class="content-justify">Budget hotel in Delhi is dedicated and specially designs for best rate hotels in delhi. Our mission is to provide Quality and excellence to our customers promptly and exclusively.</p>
                </div>
                <div class="choose-wrapper mr-50">
                    <div class="choose-box">
                        <div class="choose-box_icon">
                            <img src="/Content/assets/img/shape/save-doller.svg" alt="">
                        </div>
                        <div class="choose-box_content">
                            <h3 class="choose-box_title">Best Rate Guarantee</h3>
                            <p class="choose-box_desc mb-n1 content-justify">Dynamically facilitate best of breed benefits without.</p>
                        </div>
                    </div>
                    <div class="choose-box">
                        <div class="choose-box_icon">
                            <img src="/Content/assets/img/shape/balance.svg" alt="">
                        </div>
                        <div class="choose-box_content">
                            <h3 class="choose-box_title">No Booking Fee</h3>
                            <p class="choose-box_desc mb-n1 content-justify">Dynamically facilitate best of breed benefits without.</p>
                        </div>
                    </div>
                    <div class="choose-box">
                        <div class="choose-box_icon">
                            <img src="/Content/assets/img/shape/user.svg" alt="">
                        </div>
                        <div class="choose-box_content">
                            <h3 class="choose-box_title">24/7 Support</h3>
                            <p class="choose-box_desc mb-n1 content-justify" content-justify>Dynamically facilitate best of breed benefits without.</p>
                        </div>
                    </div>
                    <div class="choose-box">
                        <div class="choose-box_icon">
                            <img src="/Content/assets/img/shape/bed.svg" alt="">
                        </div>
                        <div class="choose-box_content">
                            <h3 class="choose-box_title">Room Upgrade</h3>
                            <p class="choose-box_desc mb-n1 content-justify">Dynamically facilitate best of breed benefits without.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5">
                <div class="choose-image">
                    <img src="/Content/assets/img/normal/choose_1.png" alt="">
                    <img class="shape-1 rotateit" src="/Content/assets/img/shape/shape.png" alt="">
                    <img class="shape-2 jump" src="/Content/assets/img/shape/shape_1.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>



<!--==============================
Feature Area
==============================-->
@*<div class="space about-section-three" id="about-sec">
        <div class="container">
            <div class="row">
                <div class="col-xl-7">
                    <div class="title-area mt-n1 mb-25 mr-50">
                        <span class="sub-title">MORE ABOUT US</span>
                        <h2 class="sec-title">The Hibtel Apartment Good Luxury, And Beautiful</h2>
                        <p class="mt-n2 mb-10">
                            Phosfluorescently communicate e-business results for orthogonal
                            potentialities. Globally envisioneer state of the art resources for market positioning niches.
                            Uniquely impact. Proactively matrix inexpensive opportunities for technically.
                        </p>
                    </div>
                    <div class="about-box-wrapp">
                        <div class="about-box-icon style2">
                            <div class="about-counter">
                                <i class="fa-solid fa-badge-check"></i>
                                <h2 class="counter-card_number">
                                    <span class="counter-number">9,000</span>Sq. Foot Paradise
                                </h2>
                            </div>
                        </div>
                        <div class="about-box-icon style2">
                            <div class="about-counter">
                                <i class="fa-solid fa-badge-check"></i>
                                <h2 class="counter-card_number"><span class="counter-number">160</span>+ Luxury Bedroom</h2>
                            </div>
                        </div>
                        <div class="about-box-icon style2">
                            <div class="about-counter">
                                <i class="fa-solid fa-badge-check"></i>
                                <h2 class="counter-card_number">Best Quality Services</h2>
                            </div>
                        </div>
                        <div class="about-box-icon style2">
                            <div class="about-counter">
                                <i class="fa-solid fa-badge-check"></i>
                                <h2 class="counter-card_number">Unlimited Best Facility</h2>
                            </div>
                        </div>
                    </div>
                    <div class="about-btn">
                        <a href="about.html" class="as-btn shadow-none">About More</a>
                        <div class="about-info">
                            <div class="about-info_icon style1">
                                <a href="tel:+163-1202-0099"><i class="fa-solid fa-phone"></i></a>
                            </div>
                            <div class="media-body">
                                <span class="about-info_label">Call us anytime</span>
                                <p class="about-info_link">
                                    <a href="tel:+163-1202-0099">+163-1202-0099</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5">
                    <div class="img-box2">
                        <div class="img2">
                            <img class="image_1" src="/Content/assets/img/normal/about_2.png" alt="About">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@


<!--==============================
Counter Area
==============================-->
<div class="container space-bottom">
    <div class="counter-area-three" data-bg-src="/Content/assets/img/bg/counter_bg_2.png">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-6 col-lg-3">
                    <div class="counter-card ">
                        <h2 class="counter-card_number"><span class="counter-number text-white">25</span>+</h2>
                        <p class="counter-card_text">Years Experiences</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="counter-card ">
                        <h2 class="counter-card_number"><span class="counter-number text-white">1.6</span><span class="counter-text">k</span>+</h2>
                        <p class="counter-card_text">Yearly Customers</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="counter-card ">
                        <h2 class="counter-card_number"><span class="counter-number text-white">36</span>+</h2>
                        <p class="counter-card_text">Visitors daily</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="counter-card ">
                        <h2 class="counter-card_number"><span class="counter-number text-white">26</span>+</h2>
                        <p class="counter-card_text">Awards & honors</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--==============================
Testimonial Area
==============================-->


<div class="container space-bottom">

    <div class="testi-box-area">
        <div class="testi-box-slide">
            <div class="title-area mb-40">
                <span class="hotel-card_subtitle">Testimonials</span>
                <h4 class="css_heading">What Client Say</h4>
            </div>
            <div class="as-carousel" id="testiSlide1" data-slide-show="1" data-fade="true">
                <div>
                    <div class="testi-box">
                        <div class="star-icon">
                            <a href="#"><i class="fa-solid fa-star"></i></a>
                            <a href="#"><i class="fa-solid fa-star"></i></a>
                            <a href="#"><i class="fa-solid fa-star"></i></a>
                            <a href="#"><i class="fa-solid fa-star"></i></a>
                            <a href="#"><i class="fa-solid fa-star"></i></a>
                        </div>
                        <p class="testi-box_text content-justify">
                            An extremely well organised and maintained hotels with very high standards of professionalism. The place is very cosy and comfortable.
                            The performance by the team and their associates has been outstanding in every regard. We appreciate your professionalism, your sensitivity to our needs,
                        </p>
                        <div class="testi-box_profile">
                            <div class="testi-box_avater style2">
                                <img src="~/Content/assets/AYUSIMG/Avatar1.png" alt="testimonial">
                            </div>
                            <div class="media-body">
                                <h3 class="testi-box_name h6">Customer 1</h3>
                                @*<span class="testi-box_desig">CEO & Founder</span>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="testi-box">
                        <div class="star-icon">
                            <a href="#"><i class="fa-solid fa-star"></i></a>
                            <a href="#"><i class="fa-solid fa-star"></i></a>
                            <a href="#"><i class="fa-solid fa-star"></i></a>
                            <a href="#"><i class="fa-solid fa-star"></i></a>
                            <a href="#"><i class="fa-solid fa-star"></i></a>
                        </div>
                        <p class="testi-box_text content-justify">
                            An extremely well organised and maintained hotels with very high standards of professionalism. The place is very cosy and comfortable.The performance by the team
                            and their associates has been outstanding in every regard. We appreciate your professionalism, your sensitivity to our needs,
                        </p>

                        <div class="testi-box_profile">
                            <div class="testi-box_avater style2">
                                <img src="~/Content/assets/AYUSIMG/Avatar2.png" alt="testimonial">
                            </div>
                            <div class="media-body">
                                <h3 class="testi-box_name h6">Customer 2</h3>
                                @*<span class="testi-box_desig">CEO & Founder</span>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="testi-box">
                        <div class="star-icon">
                            <a href="#"><i class="fa-solid fa-star"></i></a>
                            <a href="#"><i class="fa-solid fa-star"></i></a>
                            <a href="#"><i class="fa-solid fa-star"></i></a>
                            <a href="#"><i class="fa-solid fa-star"></i></a>
                            <a href="#"><i class="fa-solid fa-star"></i></a>
                        </div>
                        <p class="testi-box_text content-justify">

                            An extremely well organised and maintained hotels with very high standards of professionalism. The place is very cosy and comfortable.
                            The performance by the team and their associates has been outstanding in every regard. We appreciate your professionalism, your sensitivity to our needs,
                        </p>
                        <divdiv class="testi-box_profile ">
                            <div class="testi-box_avater style2">
                                <img src="~/Content/assets/AYUSIMG/Avatar3.png" alt="testimonial">
                            </div>
                            <div class="media-body">
                                <h3 class="testi-box_name h6">Customer 3</h3>
                                @*<span class="testi-box_desig">CEO & Founder</span>*@
                            </div>
                        </divdiv>
                    </div>
                </div>
            </div>
            <div class="icon-box">
                <button data-slick-prev="#testiSlide1" class="slick-arrow default">
                    <i class="far fa-arrow-left"></i>
                </button>
                <button data-slick-next="#testiSlide1" class="slick-arrow default">
                    <i class="far fa-arrow-right"></i>
                </button>
            </div>
            <div class="tesi-shape">
                <img src="/Content/assets/img/testimonial/icon%20shape.png" alt="">
            </div>
        </div>
        <div class="testi-box-img">
            <div class="testi-box_quote">
                <i class="fa-solid fa-quote-right"></i>
            </div>
            <img src="/Content/assets/img/testimonial/testi_img.png" alt="Testmonial">
        </div>
    </div>


</div>