
@{
    ViewBag.Title = "AboutDelhi";
}




<style>
    .abt-delhi {
        font-family: 'Jost', sans-serif;
    }
</style>

<!--==============================
    Breadcumb
============================== -->
<div class="breadcumb-wrapper " data-bg-src="/Content/assets/AYUSIMG/breadcrumb.png">
    <div class="container">
        <div class="breadcumb-content mt-3">
            <h3 class="breadcumb-title">About Delhi</h3>
            <ul class="breadcumb-menu">
                <li><a href="/AboutDelhi">Home</a></li>
                <li>Our History</li>
            </ul>
        </div>
    </div>
</div>

<!--==============================
About Area
==============================-->

<div class="mt-3" id="about-sec">
    <div class="container">
        <div class="title-area  abt-delhi text-center">

            <h2 class="css_heading mt-5">ABOUT DELHI</h2>

            <p class=" abt-delhi mb-20">
                Delhi is love, Delhi is haste, Delhi is serene, Delhi is chaos - It is the yang to its own yin. Delhi is a complete deal!
                From the bustling lanes of Chandni Chowk to the serene and tranquil abode of Bangla Sahib,
                Delhi makes a complete circle of life.

            </p>
        </div>


        <div class="row">
            <div class="col-xl-5">
                <div class="img-box1 style5">
                    <div class="img1">
                        <img class="image_1" src="~/Content/assets/img/delimg/delcol(5) (1).png" alt="About">
                    </div>
                </div>
            </div>
            <div class="col-xl-7">
                <div class="title-area mb-0 mt-n1 mr-50 justify-content-center">

                    <p class=" abt-delhi content-justify">
                        One of the most popular tourist destinations in India,
                        the city has been thriving because of the abundant diversity. Right from stepping out of New Delhi Railway Station,
                        the romance with the city begins. Known for its rich heritage and spiritual history, Delhi attracts a large number of religious tours.
                        Sites like Jama Masjid, Hazrat Nizamuddin Dargah, Akshardham, Gurudwara Bangla Sahib and Cathedral Church have become a major religious
                        tourist destination in Delhi.
                    </p>
                    <p class=" abt-delhi content-justify">
                        The best thing about these religious places are that they are open to people of all faith. Heart of India, Delhi is called the city
                        of heartful people and it indeed justifies it with its hospitality.
                        The first experience of the city might be chaotic and unorganized but there lies a beauty within this unorganized chaos.
                    </p>


                </div>
            </div>
        </div>
    </div>
</div>



<!--==============================
facality-inner Area
==============================-->
<section class="mt-3 space-bottom">
    <div class="title-area mb-30 text-center">
        <h2 class="css_heading mb-5">PLACES TO VISIT IN DELHI</h2>
    </div>
    <div class="facality-area">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-12">
                    <div class="hotel-box-wrapper style4">
                        <div class="hotel-image">
                            <img src="/Content/assets/img/delimg/del(6).jpg" alt="">
                        </div>
                        <div class="hotel-card-content">
                            <span class="hotel-card_subtitle">MONUMENT</span>


                            <h5 class="css_heading"> Pradhanmantri Sangrahalaya  </h5>
                            <p class=" mr-n1 content-justify">
                                Pradhanmantri Sangrahalaya, Delhi Overview
                                The Prime Ministers’ Museum or the Pradhanmantri Sangrahalaya was
                                inaugurated by Prime Minister Narendra Modi on 14th April 2022. Located next to the Nehru Memorial Museum and
                                Library (NMML) on Teen Murti Marg, the museum pays tribute to all the Prime Ministers of India since Independence.
                            </p>
                            @*<span class="hotel-date">Open Daily : 7.30 am - 11.00pm</span>
                                <div class="hotel-content-btn mt-30">
                                    <a href="service-details.html" class="as-btn shadow-none" tabindex="-1">View Details</a>
                                </div>*@
                        </div>
                    </div>
                    <div class="hotel-box-wrapper style4">
                        <div class="hotel-image style4">
                            <img src="/Content/assets/img/delimg/del(1).jpg" alt="">
                        </div>
                        <div class="hotel-card-content">
                            <span class="hotel-card_subtitle">MONUMENT</span>
                            <h4 class="css_heading"> INDIA GATE   </h4>

                            <p class="hotel-card_text content-justify">
                                The foundation stone of India Gate was laid by His Royal Highness, the Duke of Connaught in 1921 and it was designed by Edwin Lutyens.
                                The monument was dedicated to the nation 10 years later by the then Viceroy, Lord Irwin. Another memorial, Amar Jawan Jyoti was added
                                much later, after India got its independence. The eternal flame burns
                                day and night under the arch to remind the nation of soldiers who laid down their lives in the Indo-Pakistan War of December 1971.
                            </p>
                        </div>
                    </div>


                    <div class="hotel-box-wrapper style4">
                        <div class="hotel-image">
                            <img src="~/Content/assets/img/crimg/cr1 (5).jpg" alt="">
                        </div>
                        <div class="hotel-card-content">
                            <span class="hotel-card_subtitle">MONUMENT</span>
                            <h3 class="css_heading">  RED FORT </h3>
                            <p class="hotel-card_text content-justify">
                                The Red Fort Complex was built as the palace fort of Shahjahanabad – the new capital of the fifth Mughal Emperor of India,
                                Shah Jahan. Named for its massive enclosing walls of red sandstone, it is adjacent to an older fort, the Salimgarh, built by
                                Islam Shah Suri in 1546, with which it forms the Red Fort Complex.An earlier red fort had been built in Old Delhi in the 11th
                                century by the Tomara king Anangapala.
                            </p>
                        </div>
                    </div>

                    <div class="hotel-box-wrapper style4">
                        <div class="hotel-image style4">
                            <img src="/Content/assets/img/delimg/del(3).jpg" alt="">
                        </div>
                        <div class="hotel-card-content">
                            <span class="hotel-card_subtitle">MONUMENT</span>
                            <h4 class="css_heading"> LOTUS TEMPLE</h4>
                            <p class="hotel-card_text mr-n1 content-justify">
                                East of Nehru place, this temple is built in the shape of a lotus flower and is the last of seven Major Bahai's
                                temples built around the world. Completed in1986 it is set among the lush green landscaped gardens.
                                Lotus Temple, Bahāʾī Faith house of worship, or mashriq al-adhkār (Arabic: “a place where the uttering of the name
                                of God arises at dawn”), in New Delhi.
                                In the early 21st century it was one of only nine mashriqs in the world.
                            </p>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>



































