@{
    ViewBag.Title = "Gallery";
}



<!--==============================
    Breadcumb
============================== -->

<div class="breadcumb-wrapper " data-bg-src="/Content/assets/AYUSIMG/4.PNG">
    <div class="container">
        <div class="breadcumb-content">
            <h3 class="breadcumb-title">Gallery</h3>
            <ul class="breadcumb-menu">
                <li><a href="/">Home</a></li>
                <li>Gallery</li>
            </ul>
        </div>
    </div>
</div>





<!--==============================
   Gallery
============================= -->
<section class="space" id="gallery-sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav class="tablist">
                    <div class="filter-menu nav nav-tabs mb-45" id="nav-tab" role="tablist">
                        <button class="active" id="nav-all-tab" data-bs-toggle="tab" data-bs-target="#nav-all" type="button" role="tab" aria-selected="false">All</button>
                        <button class="" id="nav-room-tab" data-bs-toggle="tab" data-bs-target="#nav-room" type="button" role="tab" aria-selected="false">Top Destination</button>
                        <button class="" id="nav-spa-tab" data-bs-toggle="tab" data-bs-target="#nav-spa" type="button" role="tab" aria-selected="true">Hotel Images</button>
                        <button class="" id="nav-restaurant-tab" data-bs-toggle="tab" data-bs-target="#nav-restaurant" type="button" role="tab">Tour Packages</button>


                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="tab-content " id="nav-tabContent">
                <div class="tab-pane slider-shadow fade" id="nav-all" role="tabpanel">
                    <div class="row">
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="gallery-card style3">
                                <div class="gallery-card_img">
                                    <div class="gallery-overlay"></div>
                                    <img src="~/Content/assets/MONIKAimg/vrindavan.jpg" alt="gallery">
                                </div>
                                <a href="/Content/assets/MONIKAimg/vrindavan.jpg" class="icon-btn popup-image"><i class="fa-solid fa-arrows-maximize"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="gallery-card style3">
                                <div class="gallery-card_img">
                                    <div class="gallery-overlay"></div>
                                    <img src="~/Content/assets/MONIKAimg/hotel5.jpg" alt="gallery">
                                </div>
                                <a href="~/Content/assets/MONIKAimg/hotel5.jpg" class="icon-btn popup-image"><i class="fa-solid fa-arrows-maximize"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="gallery-card style3">
                                <div class="gallery-card_img">
                                    <div class="gallery-overlay"></div>
                                    <img src="~/Content/assets/img/Destination/img2.jpg" alt="gallery">
                                </div>
                                <a href="~/Content/assets/img/Destination/img2.jpg" class="icon-btn popup-image"><i class="fa-solid fa-arrows-maximize"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="gallery-card style3">
                                <div class="gallery-card_img">
                                    <div class="gallery-overlay"></div>
                                    <img src="~/Content/assets/img/Destination/img9.jpg" alt="gallery">
                                </div>
                                <a href="~/Content/assets/img/Destination/img9.jpg" class="icon-btn popup-image"><i class="fa-solid fa-arrows-maximize"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="gallery-card style3">
                                <div class="gallery-card_img">
                                    <div class="gallery-overlay"></div>
                                    <img src="~/Content/assets/img/Destination/img4.jpg" alt="gallery">
                                </div>
                                <a href="~/Content/assets/img/Destination/img4.jpg" class="icon-btn popup-image"><i class="fa-solid fa-arrows-maximize"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="gallery-card style3">
                                <div class="gallery-card_img">
                                    <div class="gallery-overlay"></div>
                                    <img src="~/Content/assets/MONIKAimg/hotel8.jpg" alt="gallery">
                                </div>
                                <a href="~/Content/assets/MONIKAimg/hotel8.jpg" class="icon-btn popup-image"><i class="fa-solid fa-arrows-maximize"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="gallery-card style3">
                                <div class="gallery-card_img">
                                    <div class="gallery-overlay"></div>
                                    <img src="~/Content/assets/MONIKAimg/hotel1.jpg" alt="gallery">
                                </div>
                                <a href="~/Content/assets/MONIKAimg/hotel1.jpg" class="icon-btn popup-image"><i class="fa-solid fa-arrows-maximize"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="gallery-card style3">
                                <div class="gallery-card_img">
                                    <div class="gallery-overlay"></div>
                                    <img src="~/Content/assets/MONIKAimg/shimla.jpg" alt="gallery">
                                </div>
                                <a href="~/Content/assets/MONIKAimg/shimla.jpg" class="icon-btn popup-image"><i class="fa-solid fa-arrows-maximize"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="gallery-card style3">
                                <div class="gallery-card_img">
                                    <div class="gallery-overlay"></div>
                                    <img src="~/Content/assets/MONIKAimg/rishikesh.jpg" alt="gallery">
                                </div>
                                <a href="~/Content/assets/MONIKAimg/rishikesh.jpg" class="icon-btn popup-image"><i class="fa-solid fa-arrows-maximize"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="gallery-card style3">
                                <div class="gallery-card_img">
                                    <div class="gallery-overlay"></div>
                                    <img src="~/Content/assets/img/Destination/img10.jpg" alt="gallery">
                                </div>
                                <a href="~/Content/assets/img/Destination/img10.jpg" class="icon-btn popup-image"><i class="fa-solid fa-arrows-maximize"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="gallery-card style3">
                                <div class="gallery-card_img">
                                    <div class="gallery-overlay"></div>
                                    <img src="~/Content/assets/MONIKAimg/hotel10.jpg" alt="gallery">
                                </div>
                                <a href="~/Content/assets/MONIKAimg/hotel10.jpg" class="icon-btn popup-image"><i class="fa-solid fa-arrows-maximize"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="gallery-card style3">
                                <div class="gallery-card_img">
                                    <div class="gallery-overlay"></div>
                                    <img src="~/Content/assets/MONIKAimg/hotel12.jpg" alt="gallery">
                                </div>
                                <a href="~/Content/assets/MONIKAimg/hotel12.jpg" class="icon-btn popup-image"><i class="fa-solid fa-arrows-maximize"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="gallery-card style3">
                                <div class="gallery-card_img">
                                    <div class="gallery-overlay"></div>
                                    <img src="~/Content/assets/img/Destination/img11.jpg" alt="gallery">
                                </div>
                                <a href="~/Content/assets/MONIKAimg/hotel16.jpg" class="icon-btn popup-image"><i class="fa-solid fa-arrows-maximize"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="gallery-card style3">
                                <div class="gallery-card_img">
                                    <div class="gallery-overlay"></div>
                                    <img src="~/Content/assets/img/Destination/img15.jpg" alt="gallery">
                                </div>
                                <a href="~/Content/assets/img/Destination/img15.jpg" class="icon-btn popup-image"><i class="fa-solid fa-arrows-maximize"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="gallery-card style3">
                                <div class="gallery-card_img">
                                    <div class="gallery-overlay"></div>
                                    <img src="~/Content/assets/MONIKAimg/hotel13.jpg" alt="gallery">
                                </div>
                                <a href="~/Content/assets/MONIKAimg/hotel13.jpg" class="icon-btn popup-image"><i class="fa-solid fa-arrows-maximize"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="gallery-card style3">
                                <div class="gallery-card_img">
                                    <div class="gallery-overlay"></div>
                                    <img src="~/Content/assets/MONIKAimg/hotel16.jpg" alt="gallery">
                                </div>
                                <a href="~/Content/assets/MONIKAimg/hotel16.jpg" class="icon-btn popup-image"><i class="fa-solid fa-arrows-maximize"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="gallery-card style3">
                                <div class="gallery-card_img">
                                    <div class="gallery-overlay"></div>
                                    <img src="~/Content/assets/MONIKAimg/hotel15.jpg" alt="gallery">
                                </div>
                                <a href="~/Content/assets/MONIKAimg/hotel15.jpg" class="icon-btn popup-image"><i class="fa-solid fa-arrows-maximize"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane slider-shadow fade" id="nav-room" role="tabpanel">
                    <div class="row">
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="gallery-card style3">
                                <div class="gallery-card_img">
                                    <div class="gallery-overlay"></div>
                                    <img src="~/Content/assets/img/Destination/img2.jpg" alt="gallery">
                                </div>
                                <a href="~/Content/assets/img/Destination/img2.jpg" class="icon-btn popup-image"><i class="fa-solid fa-arrows-maximize"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="gallery-card style3">
                                <div class="gallery-card_img">
                                    <div class="gallery-overlay"></div>
                                    <img src="~/Content/assets/img/Destination/img1.jpg" alt="gallery">
                                </div>
                                <a href="~/Content/assets/img/Destination/img1.jpg" class="icon-btn popup-image"><i class="fa-solid fa-arrows-maximize"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="gallery-card style3">
                                <div class="gallery-card_img">
                                    <div class="gallery-overlay"></div>
                                    <img src="~/Content/assets/img/Destination/img9.jpg" alt="gallery">
                                </div>
                                <a href="~/Content/assets/img/Destination/img9.jpg" class="icon-btn popup-image"><i class="fa-solid fa-arrows-maximize"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="gallery-card style3">
                                <div class="gallery-card_img">
                                    <div class="gallery-overlay"></div>
                                    <img src="~/Content/assets/img/Destination/img3.jpg" alt="gallery">
                                </div>
                                <a href="~/Content/assets/img/Destination/img3.jpg" class="icon-btn popup-image"><i class="fa-solid fa-arrows-maximize"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="gallery-card style3">
                                <div class="gallery-card_img">
                                    <div class="gallery-overlay"></div>
                                    <img src="~/Content/assets/img/Destination/img6.jpg" alt="gallery">
                                </div>
                                <a href="~/Content/assets/img/Destination/img6.jpg" class="icon-btn popup-image"><i class="fa-solid fa-arrows-maximize"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="gallery-card style3">
                                <div class="gallery-card_img">
                                    <div class="gallery-overlay"></div>
                                    <img src="~/Content/assets/img/Destination/img7.jpg" alt="gallery">
                                </div>
                                <a href="~/Content/assets/img/Destination/img7.jpg" class="icon-btn popup-image"><i class="fa-solid fa-arrows-maximize"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="gallery-card style3">
                                <div class="gallery-card_img">
                                    <div class="gallery-overlay"></div>
                                    <img src="~/Content/assets/img/Destination/img11.jpg" alt="gallery">
                                </div>
                                <a href="~/Content/assets/img/Destination/img11.jpg" class="icon-btn popup-image"><i class="fa-solid fa-arrows-maximize"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="gallery-card style3">
                                <div class="gallery-card_img">
                                    <div class="gallery-overlay"></div>
                                    <img src="~/Content/assets/img/Destination/img15.jpg" alt="gallery">
                                </div>
                                <a href="~/Content/assets/img/Destination/img15.jpg" class="icon-btn popup-image"><i class="fa-solid fa-arrows-maximize"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="gallery-card style3">
                                <div class="gallery-card_img">
                                    <div class="gallery-overlay"></div>
                                    <img src="~/Content/assets/img/Destination/img13.jpg" alt="gallery">
                                </div>
                                <a href="~/Content/assets/img/Destination/img13.jpg" class="icon-btn popup-image"><i class="fa-solid fa-arrows-maximize"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane slider-shadow fade active show" id="nav-spa" role="tabpanel">
                    <div class="row">
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="gallery-card style3">
                                <div class="gallery-card_img">
                                    <div class="gallery-overlay"></div>
                                    <img src="~/Content/assets/MONIKAimg/hotel1.jpg" alt="gallery">
                                </div>
                                <a href="~/Content/assets/MONIKAimg/hotel1.jpg" class="icon-btn popup-image"><i class="fa-solid fa-arrows-maximize"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="gallery-card style3">
                                <div class="gallery-card_img">
                                    <div class="gallery-overlay"></div>
                                    <img src="~/Content/assets/MONIKAimg/hotel2.jpg" alt="gallery">
                                </div>
                                <a href="~/Content/assets/MONIKAimg/hotel2.jpg" class="icon-btn popup-image"><i class="fa-solid fa-arrows-maximize"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="gallery-card style3">
                                <div class="gallery-card_img">
                                    <div class="gallery-overlay"></div>
                                    <img src="~/Content/assets/MONIKAimg/hotel3.jpg" alt="gallery">
                                </div>
                                <a href="~/Content/assets/MONIKAimg/hotel3.jpg" class="icon-btn popup-image"><i class="fa-solid fa-arrows-maximize"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="gallery-card style3">
                                <div class="gallery-card_img">
                                    <div class="gallery-overlay"></div>
                                    <img src="~/Content/assets/MONIKAimg/hotel4.jpeg" alt="gallery">
                                </div>
                                <a href="~/Content/assets/MONIKAimg/hotel4.jpeg" class="icon-btn popup-image"><i class="fa-solid fa-arrows-maximize"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="gallery-card style3">
                                <div class="gallery-card_img">
                                    <div class="gallery-overlay"></div>
                                    <img src="~/Content/assets/MONIKAimg/hotel5.jpg" alt="gallery">
                                </div>
                                <a href="~/Content/assets/MONIKAimg/hotel5.jpg" class="icon-btn popup-image"><i class="fa-solid fa-arrows-maximize"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="gallery-card style3">
                                <div class="gallery-card_img">
                                    <div class="gallery-overlay"></div>
                                    <img src="~/Content/assets/MONIKAimg/hotel6.jpg" alt="gallery">
                                </div>
                                <a href="~/Content/assets/MONIKAimg/hotel6.jpg" class="icon-btn popup-image"><i class="fa-solid fa-arrows-maximize"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="gallery-card style3">
                                <div class="gallery-card_img">
                                    <div class="gallery-overlay"></div>
                                    <img src="~/Content/assets/MONIKAimg/hotel7.jpg" alt="gallery">
                                </div>
                                <a href="~/Content/assets/MONIKAimg/hotel7.jpg" class="icon-btn popup-image"><i class="fa-solid fa-arrows-maximize"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="gallery-card style3">
                                <div class="gallery-card_img">
                                    <div class="gallery-overlay"></div>
                                    <img src="~/Content/assets/MONIKAimg/hotel8.jpg" alt="gallery">
                                </div>
                                <a href="~/Content/assets/MONIKAimg/hotel8.jpg" class="icon-btn popup-image"><i class="fa-solid fa-arrows-maximize"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="gallery-card style3">
                                <div class="gallery-card_img">
                                    <div class="gallery-overlay"></div>
                                    <img src="~/Content/assets/MONIKAimg/hotel9.jpg" alt="gallery">
                                </div>
                                <a href="~/Content/assets/MONIKAimg/hotel9.jpg" class="icon-btn popup-image"><i class="fa-solid fa-arrows-maximize"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane slider-shadow fade" id="nav-restaurant" role="tabpanel">
                    <div class="row">
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="gallery-card style3">
                                <div class="gallery-card_img">
                                    <div class="gallery-overlay"></div>
                                    <img src="~/Content/assets/MONIKAimg/shimla.jpg" alt="gallery">
                                </div>
                                <a href="~/Content/assets/MONIKAimg/shimla.jpg" class="icon-btn popup-image"><i class="fa-solid fa-arrows-maximize"></i></a>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="gallery-card style3">
                                <div class="gallery-card_img">
                                    <div class="gallery-overlay"></div>
                                    <img src="~/Content/assets/MONIKAimg/massurie.jpg" alt="gallery">
                                </div>
                                <a href="~/Content/assets/MONIKAimg/massurie.jpg" class="icon-btn popup-image"><i class="fa-solid fa-arrows-maximize"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="gallery-card style3">
                                <div class="gallery-card_img">
                                    <div class="gallery-overlay"></div>
                                    <img src="~/Content/assets/MONIKAimg/Agra.jpg" alt="gallery">
                                </div>
                                <a href="~/Content/assets/MONIKAimg/Agra.jpg" class="icon-btn popup-image"><i class="fa-solid fa-arrows-maximize"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="gallery-card style3">
                                <div class="gallery-card_img">
                                    <div class="gallery-overlay"></div>
                                    <img src="~/Content/assets/MONIKAimg/manali.jpg" alt="gallery">
                                </div>
                                <a href="~/Content/assets/MONIKAimg/manali.jpg" class="icon-btn popup-image"><i class="fa-solid fa-arrows-maximize"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="gallery-card style3">
                                <div class="gallery-card_img">
                                    <div class="gallery-overlay"></div>
                                    <img src="~/Content/assets/MONIKAimg/vrindavan.jpg" alt="gallery">
                                </div>
                                <a href="~/Content/assets/MONIKAimg/vrindavan.jpg" class="icon-btn popup-image"><i class="fa-solid fa-arrows-maximize"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>







