
@{
    ViewBag.Title = "Service";
}



<!--==============================
    Breadcumb
============================== -->

<div class="breadcumb-wrapper " data-bg-src="/Content/assets/img/breadcumb/breadcumb-bg.jpg">

    <div class="container">

        <div class="breadcumb-content">
            <h1 class="breadcumb-title">Services</h1>
            <ul class="breadcumb-menu">
                <li><a href="index.html">Home</a></li>
                <li>Our Services</li>
            </ul>
        </div>
    </div>
</div>


<!--==============================
facality Area
==============================-->
<div class="space facality-area">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-xl-12">
                <div class="title-area mt-n1 text-center">
                    <span class="sub-title">Hotel Services</span>
                    <h2 class="sec-title">Our Amazing Services</h2>
                </div>
                <div class="choose-wrapper style2 mb-60">
                    <div class="choose-box ">
                        <div class="choose-box_icon">
                            <img src="/Content/assets/img/icon/single_wifi.svg" alt="">
                        </div>
                        <div class="choose-box_content">
                            <h3 class="choose-box_title">High Speed Wifi</h3>
                            <p class="choose-box_desc">Monotonectally seize performance based value after state of the art.</p>
                        </div>
                    </div>
                    <div class="choose-box">
                        <div class="choose-box_icon">
                            <img src="/Content/assets/img/icon/gym.svg" alt="">
                        </div>
                        <div class="choose-box_content">
                            <h3 class="choose-box_title">Gym Center</h3>
                            <p class="choose-box_desc">Monotonectally seize performance based value after state of the art.</p>
                        </div>
                    </div>
                    <div class="choose-box">
                        <div class="choose-box_icon">
                            <img src="/Content/assets/img/icon/swimming.svg" alt="">
                        </div>
                        <div class="choose-box_content">
                            <h3 class="choose-box_title">Swimming Pool</h3>
                            <p class="choose-box_desc">Monotonectally seize performance based value after state of the art.</p>
                        </div>
                    </div>
                </div>
                <div class="hotel-box-wrapper style2">
                    <div class="hotel-image">
                        <img src="/Content/assets/img/normal/hotel_1.jpg" alt="">
                    </div>
                    <div class="hotel-card-content">
                        <span class="hotel-card_subtitle">restaurant</span>
                        <h3 class="hotel-card_title">
                            <a href="restaurant.html" tabindex="-1">
                                Eat Foods And
                                Drinks
                            </a>
                        </h3>
                        <p class="hotel-card_text">
                            Enthusiastically productize intuitive convergence after
                            resource sucking e-business. Interactively recaptiualize leading. Efficiently scale granular
                            sources for mission-critical platforms.
                        </p>
                        <span class="hotel-date">Open Daily : 7.30 am - 11.00pm</span>
                        <div class="hotel-content-btn mt-30">
                            <a href="service-details.html" class="as-btn shadow-none" tabindex="-1">Read more</a>
                        </div>
                    </div>
                </div>
                <!--==============================
                 Feature Area
                ==============================-->
                <div class="bg-top-center space">
                    <div class="container">
                        <div class="title-area mt-n1 mb-30 text-center">
                            <span class="sub-title">SERVICES </span>
                            <h2 class="sec-title">Our Hotel Services </h2>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <div class="service-box style4">
                                    <div class="service-box_icon">
                                        <img src="/Content/assets/img/icon/resturant.svg" alt="">
                                    </div>
                                    <div class="service-box_content">
                                        <h3 class="service-box_title">Resturant</h3>
                                        <p class="service-box_desc">Authoritatively parallel task multifunctional communities before cross functional.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <div class="service-box style4">
                                    <div class="service-box_icon">
                                        <img src="/Content/assets/img/icon/spa.svg" alt="">
                                    </div>
                                    <div class="service-box_content">
                                        <h3 class="service-box_title">Spa Salon</h3>
                                        <p class="service-box_desc">Authoritatively parallel task multifunctional communities before cross functional.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <div class="service-box style4">
                                    <div class="service-box_icon">
                                        <img src="/Content/assets/img/icon/swimming.svg" alt="">
                                    </div>
                                    <div class="service-box_content">
                                        <h3 class="service-box_title">Swimming Pool</h3>
                                        <p class="service-box_desc">Authoritatively parallel task multifunctional communities before cross functional.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <div class="service-box style4">
                                    <div class="service-box_icon">
                                        <img src="/Content/assets/img/icon/wifi.svg" alt="">
                                    </div>
                                    <div class="service-box_content">
                                        <h3 class="service-box_title">High Speed Wifi</h3>
                                        <p class="service-box_desc">Authoritatively parallel task multifunctional communities before cross functional.</p>
                                    </div>
                                </div>
                            </div>


                            <div class="hotel-box-wrapper style4">
                                <div class="hotel-image style4">
                                    <img src="/Content/assets/img/normal/spa.jpg" alt="">
                                </div>
                                <div class="hotel-card-content">
                                    <span class="hotel-card_subtitle">WELLNESS & SPA</span>
                                    <h3 class="hotel-card_title">
                                        <a href="service.html" tabindex="-1">
                                            Relaxing Moment at Our Spa
                                            Center.
                                        </a>
                                    </h3>
                                    <p class="hotel-card_text">
                                        Uniquely foster principle-centered outsourcing via high
                                        standards in users. Uniquely parallel task interactive processes with inexpensive solutions.
                                        Holisticly scale empowered.
                                    </p>
                                    <div class="hotel-wrapper">
                                        <div class="about-icon-list">
                                            <ul>
                                                <li><i class="fa-solid fa-circle-check"></i>Thermal water with ancient baths</li>
                                                <li><i class="fa-solid fa-circle-check"></i>Relax and therapy massage</li>
                                            </ul>
                                        </div>
                                        <div class="about-icon-list">
                                            <ul>
                                                <li><i class="fa-solid fa-circle-check"></i>Turkish sauna</li>
                                                <li><i class="fa-solid fa-circle-check"></i>Turkish bath</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="hotel-content-btn mt-30">
                                        <a href="service-details.html" class="as-btn shadow-none" tabindex="-1">View Details</a>
                                    </div>
                                </div>
                            </div>




                            <div class="container">
                                <div class="hotel-box-wrapper style4">
                                    <div class="hotel-image">
                                        <img src="/Content/assets/img/normal/wifi.jpg" alt="">
                                    </div>
                                    <div class="hotel-card-content">
                                        <span class="hotel-card_subtitle">Internet Access</span>
                                        <h3 class="hotel-card_title">
                                            <a href="service-details.html" tabindex="-1">
                                                High Speed Wi-Fi
                                                Internet Access
                                            </a>
                                        </h3>
                                        <p class="hotel-card_text">
                                            Enthusiastically productize intuitive convergence after
                                            resource sucking e-business. Interactively recaptiualize leading. Efficiently scale granular
                                            sources for mission-critical platforms.
                                        </p>
                                        <span class="hotel-card_desc">
                                            * High Speed Internet Network available to connect your
                                            laptop.
                                        </span>
                                        <div class="hotel-content-btn mt-30">
                                            <a href="service-details.html" class="as-btn shadow-none" tabindex="-1">View Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>





                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <div class="service-box style4">
                                    <div class="service-box_icon">
                                        <img src="/Content/assets/img/icon/car.svg" alt="">
                                    </div>
                                    <div class="service-box_content">
                                        <h3 class="service-box_title">Pick Up & Drop​</h3>
                                        <p class="service-box_desc">Authoritatively parallel task multifunctional communities before cross functional.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <div class="service-box style4">
                                    <div class="service-box_icon">
                                        <img src="/Content/assets/img/icon/air.svg" alt="">
                                    </div>
                                    <div class="service-box_content">
                                        <h3 class="service-box_title">Air Conditioner</h3>
                                        <p class="service-box_desc">Authoritatively parallel task multifunctional communities before cross functional.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <div class="service-box style4">
                                    <div class="service-box_icon">
                                        <img src="/Content/assets/img/icon/parking.svg" alt="">
                                    </div>
                                    <div class="service-box_content">
                                        <h3 class="service-box_title">Parking Space</h3>
                                        <p class="service-box_desc">Authoritatively parallel task multifunctional communities before cross functional.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <div class="service-box style4">
                                    <div class="service-box_icon">
                                        <img src="/Content/assets/img/icon/shower.svg" alt="">
                                    </div>
                                    <div class="service-box_content">
                                        <h3 class="service-box_title">Shower Bathtub</h3>
                                        <p class="service-box_desc">Authoritatively parallel task multifunctional communities before cross functional.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="hotel-box-wrapper style4">
        <div class="hotel-image style4">
            <img src="/Content/assets/img/normal/swimming.jpg" alt="">
        </div>
        <div class="hotel-card-content">
            <span class="hotel-card_subtitle">Swimming Pool</span>
            <h3 class="hotel-card_title">
                <a href="service-details.html" tabindex="-1">
                    Swim on top of the
                    world
                </a>
            </h3>
            <p class="hotel-card_text mr-n1">
                Uniquely foster principle-centered outsourcing via high
                standards in users. Uniquely parallel task interactive processes with inexpensive solutions.
                Holisticly scale empowered.
            </p>
            <div class="hotel-wrapper">
                <div class="about-icon-list">
                    <ul>
                        <li><i class="fa-solid fa-circle-check"></i>Mini soft serve cones</li>
                        <li><i class="fa-solid fa-circle-check"></i>Frozen peanut butter cups</li>
                    </ul>
                </div>
                <div class="about-icon-list">
                    <ul>
                        <li><i class="fa-solid fa-circle-check"></i>Sunglass cleaning</li>
                        <li><i class="fa-solid fa-circle-check"></i>Refreshing Evian mist</li>
                    </ul>
                </div>
            </div>
            <div class="hotel-content-btn mt-30">
                <a href="service-details.html" class="as-btn shadow-none" tabindex="-1">View Details</a>
            </div>
        </div>
    </div>
    <div class="hotel-box-wrapper style4">
        <div class="hotel-image">
            <img src="/Content/assets/img/normal/gym.jpg" alt="">
        </div>
        <div class="hotel-card-content">
            <span class="hotel-card_subtitle">GYM Center</span>
            <h3 class="hotel-card_title">
                <a href="service-details.html" tabindex="-1">
                    Health &amp; Fitness
                    Control
                </a>
            </h3>
            <p class="hotel-card_text mr-n1">
                Enthusiastically productize intuitive convergence after
                resource sucking e-business. Interactively recaptiualize leading.
            </p>
            <a href="#">
                Fitness with: Treadmill, Cross-trainer,<br> Rowing machine, Exercise bikes,
                Dumbbells…
            </a>
            <div class="hotel-content-btn mt-30">
                <a href="service-details.html" class="as-btn shadow-none" tabindex="-1">View Details</a>
            </div>
        </div>
    </div>
</div>