
@{
    ViewBag.Title = "TopDestination";
}


@{
    ViewBag.Title = "TopDestination";
}


<!--==============================
    Breadcumb
============================== -->

<div class="breadcumb-wrapper " data-bg-src="/Content/assets/AYUSIMG/4.PNG">

    <div class="container">

        <div class="breadcumb-content mt-5">
            <h3 class="breadcumb-title">Top Destinations</h3>
            <ul class="breadcumb-menu">
                <li><a href="index.html">Home</a></li>
                <li>Top Destinations in Delhi</li>
            </ul>
        </div>
    </div>
</div>

<!--==============================
facality-inner Area
==============================-->
<div class="m-5">
    <div class=" text-center">
        <h2 class="css_heading">Top Destinations in Delhi</h2>
    </div>
</div>

<div class=" m-5 facality-area">
    <div class="container">



        <div class="row align-items-center justify-content-center">
            <div class="col-xl-12">

                <div class="hotel-box-wrapper style4">
                    <div class="hotel-image">
                        <img src="~/Content/assets/img/Destination/img5.jpg" />


                    </div>
                    <div class="hotel-card-content">
                        <span class="hotel-card_subtitle">DESTINATION 1</span>
                        <h3 class="hotel-card_title">
                            Akshardham Temple

                        </h3>
                        <p class="hotel-card_text mr-n1 content-justify">
                            One of the biggest temples in Delhi as well as in India, this spiritual place was constructed by BAPS.
                            In 2007, the temple was awarded the title of the Largest Comprehensive Hindu Temple in the World by the Guinness World Record.
                            Today, the Akshardham Temple complex is one of the top tourist places in Delhi.

                        </p>
                    </div>
                </div>

                <div class="hotel-box-wrapper style4">
                    <div class="hotel-image">
                        <img src="~/Content/assets/img/Destination/img1.jpg" alt="">
                    </div>
                    <div class="hotel-card-content">
                        <span class="hotel-card_subtitle">DESTINATION 2</span>
                        <h3 class="hotel-card_title">

                            Red Fort

                        </h3>
                        <p class="hotel-card_text mr-n1 content-justify">
                            The Red Fort is located in the city of Delhi in India. It is one of the oldest and famous monuments of Old Delhi, locally known as Lal Quila.
                            On one side it faces the city with its wall standing about 33 meters tall and stands 18 meters tall on the riverside, facing
                            the Yamuna. Lying at the heart of Delhi, the majestic Red Fort stands as a testament to the architectural legacy of Mughals.
                            This UNESCO World Heritage Site is built from fine red sandstone, and also famous as Qila-e-Mubaraq, is replete with beautiful
                            palaces, pavilions and mosque.
                        </p>

                    </div>
                </div>

                <div class="hotel-box-wrapper style4">
                    <div class="hotel-image style4">
                        <img src="~/Content/assets/img/Destination/img2.jpg" alt="">
                    </div>
                    <div class="hotel-card-content">
                        <span class="hotel-card_subtitle">DESTINATION 3</span>
                        <h3 class="hotel-card_title">

                            India Gate
                        </h3>
                        <p class="hotel-card_text content-justify">
                            One of the more recent attractions of the New Delhi tourism. The India Gate is a war memorial in New Delhi commemorating
                            the dead of the First World War. India Gate is an ever-happening place in Delhi and fascinates everyone,
                            from the locals to the tourists. While summer can be overwhelming here, Delhi’s winter is simply irresistible
                            and is the best time to be at this destination.

                        </p>
                    </div>
                </div>

                <div class="hotel-box-wrapper style4">
                    <div class="hotel-image style4">
                        <img src="~/Content/assets/img/Destination/img7.jpg" alt="">
                    </div>
                    <div class="hotel-card-content">
                        <span class="hotel-card_subtitle">Destination 4</span>
                        <h3 class="hotel-card_title">

                            Hauz Khas

                        </h3>
                        <p class="hotel-card_text content-justify">
                            Hauz Khas is a neighborhood in South Delhi, its heart being the
                            historic Hauz Khas Complex. Hauz Khas is witnessing the growth of
                            trendy shops and lodgings.[1] It is now becoming the center for domestic
                            and international tourists and backpackers
                        </p>
                    </div>
                </div>

                <div class="hotel-box-wrapper style4">
                    <div class="hotel-image style4">
                        <img src="~/Content/assets/img/Destination/img9.jpg" alt="">
                    </div>
                    <div class="hotel-card-content">
                        <span class="hotel-card_subtitle">Destination 5</span>
                        <h3 class="hotel-card_title">

                            Connaught Place

                        </h3>
                        <p class="hotel-card_text content-justify">
                            Connaught Place, officially known as Rajiv Chowk, is one of the main financial, commercial and
                            business centres in New Delhi, Delhi, India. It houses the headquarters of several noted Indian
                            firms and is a major shopping, nightlife and tourist destination in New Delhi.
                        </p>
                    </div>
                </div>

                <div class="hotel-box-wrapper style4">
                    <div class="hotel-image">
                        <img src="~/Content/assets/img/Destination/img3.jpg" `63
                             alt="">
                    </div>
                    <div class="hotel-card-content">
                        <span class="hotel-card_subtitle">DESTINATION 6</span>
                        <h3 class="hotel-card_title">

                            Qutub Minar

                        </h3>
                        <p class="hotel-card_text content-justify">
                            The tallest minaret in India, Qutub Minar is among the iconic monuments of Delhi. Known as the ‘Tower of Victory’.
                            This monument is a popular tourist attraction in Delhi and a part of the Qutub Minar Complex. It is also one of
                            the UNESCO World Heritage Sites in Delhi. Qutub Festival, an annual cultural event, is held at this complex
                            every year during the month of November-December. This three-day long festival witnesses a lively gathering and
                            various mind-blowing performances by musicians, dancers, and artists.
                        </p>
                    </div>
                </div>

                <div class="hotel-box-wrapper style4">
                    <div class="hotel-image style4">
                        <img src="~/Content/assets/img/Destination/img6.jpg" alt="">
                    </div>
                    <div class="hotel-card-content">
                        <span class="hotel-card_subtitle">DESTINATION 7</span>
                        <h3 class="hotel-card_title">

                            Lotus Temple

                        </h3>
                        <p class="hotel-card_text mr-n1 content-justify">
                            The Lotus Temple (also known as Kamal Mandir)  in Delhi is a matchless architectural marvel and one of the prime tourist attractions of the
                            National Capital. Surrounded by lush green landscaped gardens, this lotus-inspired structure spreads across 26 acres of land. Made using
                            white marble sourced from Greece, it comprises of 27 petals in the free-standing state.
                        </p>

                    </div>
                </div>

                <div class="hotel-box-wrapper style4">
                    <div class="hotel-image style4">
                        <img src="~/Content/assets/img/Destination/img11.jpg" alt="">
                    </div>
                    <div class="hotel-card-content">
                        <span class="hotel-card_subtitle">Destination 8</span>
                        <h3 class="hotel-card_title">

                            Jama Masjid

                        </h3>
                        <p class="hotel-card_text content-justify">
                            Masjid-i-Jehan-Numa commonly known as the Jama Masjid of Delhi, is one of the largest mosques in India.It was built by
                            the Mughal emperor Shah Jahan between 1650 and 1656, and inaugurated by its first Imam, Syed Abdul Ghafoor Shah Bukhari.
                            Situated in the Mughal capital of Shahjahanabad (today Old Delhi), it served as the imperial mosque of the
                            Mughal emperors until the demise of the empire in 1857. The Jama Masjid was regarded as a symbolic gesture of
                            Islamic power across India, well into the colonial era.
                        </p>
                    </div>
                </div>

                <div class="hotel-box-wrapper style4">
                    <div class="hotel-image style4">
                        <img src="~/Content/assets/img/Destination/img4.jpg" alt="">
                    </div>
                    <div class="hotel-card-content">
                        <span class="hotel-card_subtitle">DESTINATION 9</span>
                        <h3 class="hotel-card_title">

                            Chandani Chowk Market

                        </h3>
                        <p class="hotel-card_text mr-n1 content-justify">
                            Delhi’s oldest and busiest market, Chandni Chowk is defined by crowded streets and a thousand shops selling all kinds
                            of stuff – clothes, electronics, books, furnishings… the list is endless.
                            Chandni Chowk is especially popular for bridal shopping, especially during the wedding season, when it becomes one of
                            the most frequented markets for lehengas, designer sarees, accessories, reliable gold jewelry as well as decorative
                            items for the wedding venue.
                        </p>

                    </div>
                </div>

                <div class="hotel-box-wrapper style4">
                    <div class="hotel-image style4">
                        <img src="~/Content/assets/img/Destination/img10.jpg" alt="">
                    </div>
                    <div class="hotel-card-content">
                        <span class="hotel-card_subtitle">Destination 10</span>
                        <h3 class="hotel-card_title">

                            Lodi Garden

                        </h3>
                        <p class="hotel-card_text content-justify">
                            Lodi Gardens is a city park situated in New Delhi, India.  it contains Mohammed Shah's Tomb, the Tomb of
                            Sikandar Lodi, the Shisha Gumbad and the Bara GumbadIn the middle of the gardens is the Bara Gumbad ("Big Dome"),
                            it consists of a large rubble-construct dome and is not a tomb[3] but was constructed as a gateway to either
                            the attached three domed masjid (mosque) or a large walled enclosure.
                        </p>
                    </div>
                </div>

                <div class="hotel-box-wrapper style4">
                    <div class="hotel-image style4">
                        <img src="~/Content/assets/img/Destination/img14.jpg" alt="">
                    </div>
                    <div class="hotel-card-content">
                        <span class="hotel-card_subtitle">Destination 11</span>
                        <h3 class="hotel-card_title">

                            Gurudwara Bangla Sahib

                        </h3>
                        <p class="hotel-card_text content-justify">
                            Gurudwara Bangla Sahib (listen) is one of the most prominent Sikh gurdwaras, or Sikh house of worship, in Delhi, India, and known for
                            its association with the eighth Sikh Guru, Guru Har Krishan, as well as the holy pond inside its complex, known as the "Sarovar."
                            It was first built as a small shrine by Sikh General Sardar Baghel Singh in 1783, on the bungalow donated by king Raja Jai Singh of Amer,
                            who supervised the construction of nine Sikh shrines in Delhi in the same year, during the reign of Mughal Emperor, Shah Alam II.
                        </p>
                    </div>
                </div>

                <div class="hotel-box-wrapper style4">
                    <div class="hotel-image style4">
                        <img src="~/Content/assets/img/Destination/img12.jpg" alt="">
                    </div>
                    <div class="hotel-card-content">
                        <span class="hotel-card_subtitle">Destination 12</span>
                        <h3 class="hotel-card_title">

                            Mehrauli Archaelogical Park

                        </h3>
                        <p class="hotel-card_text content-justify">
                            Mehrauli Archaeological Park is an archaeological area spread over 200 acre in the Mehrauli neighbourhood of the South Delhi
                            district of Delhi, India, adjacent to the Qutub Minar (a World Heritage Site) and the Qutb complex. It consists of over 100
                            historically significant monuments. It is the only area in Delhi known for 1,000 years of continuous occupation, and includes
                            the ruins of Lal Kot built by Tomar Rajputs in 1060 CE, making it the oldest extant fort of Delhi, and architectural relics of
                            subsequent period, rule of Khalji dynasty, Tughlaq dynasty, Lodhi dynasty of Delhi Sultanate, Mughal Empire, and the British Raj.
                        </p>
                    </div>
                </div>

                <div class="hotel-box-wrapper style4">
                    <div class="hotel-image style4">
                        <img src="~/Content/assets/img/Destination/img15.jpg" alt="">
                    </div>
                    <div class="hotel-card-content">
                        <span class="hotel-card_subtitle">Destination 13</span>
                        <h3 class="hotel-card_title">

                            Birla Mandir

                        </h3>
                        <p class="hotel-card_text content-justify">
                            Birla Mandir (Birla Temple) refers to different Hindu temples or Mandirs built by the Birla family, in different
                            cities across India. All these temples are magnificently built, some of them in white marble or in sandstone.
                            The temples are generally located in a prominent location, carefully designed to accommodate a large number of
                            visitors. The worship and discourses are well organized. The first one was built in 1939 in Delhi collectively by
                            Jugal Kishore Birla and his brothers, as well their father.
                        </p>
                    </div>
                </div>

                <div class="hotel-box-wrapper style4">
                    <div class="hotel-image style4">
                        <img src="~/Content/assets/img/Destination/img8.jpg" alt="">
                    </div>
                    <div class="hotel-card-content">
                        <span class="hotel-card_subtitle">Destination 14</span>
                        <h3 class="hotel-card_title">

                            Nehru Park

                        </h3>
                        <p class="hotel-card_text content-justify">
                            Nehru Park is a large park situated in the Chanakyapuri Diplomatic Enclave of New Delhi.
                            Named after India's first Prime Minister, Jawaharlal Nehru. It is today one of city leading
                            green areas, and a venue for 'Morning Ragas and Evening Ragas Concerts, as part of the
                            "Music in the Park" concerts organized by NDMC.
                        </p>
                    </div>
                </div>

                <div class="hotel-box-wrapper style4">
                    <div class="hotel-image style4">
                        <img src="~/Content/assets/img/Destination/img13.jpg" alt="">
                    </div>
                    <div class="hotel-card-content">
                        <span class="hotel-card_subtitle">Destination 15</span>
                        <h3 class="hotel-card_title">

                            Southern Ridget Forest

                        </h3>
                        <p class="hotel-card_text content-justify">
                            Delhi Ridge, sometimes simply called The Ridge, is a ridge in the Northern Aravalli leopard wildlife corridor in the National
                            Capital Territory of Delhi in India.[1] It is a northern extension of the ancient Aravalli Range, some 1.5 billion years old
                            (by comparison, the Himalayas are "only" 50 million years old).The ridge consists of quartzite rocks and extends from the southeast
                            at Tughlaqabad, near the Bhatti mines, branching out in places and tapering off in the north near Wazirabad on the west bank of the
                            river Yamuna,[4] covering about 35 kilometres.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>












